.body{
    background-image: url(/wpid-Dag-Heward-Mills1\ 4.jpg);
    opacity: 20px;
}
.col-2 {

    background-color: rgb(203, 216, 212);
    padding: 35px;
    /* margin-left: 5%; */
    margin-right: 1%;
    text-align: center;
    font-size: 300%;
    text-decoration-color: black;
    
}
.nav-item{

    display: flex;
    /* background-color: blue; */
    padding: 1px;
    margin-top: 3%;
}
.col-12{
    background-color: aquamarine;
    display: flex;
    /* margin-right: 300%; */
    /* margin-left: 5%; */
    margin-left: 2%;
}
h1{

    text-align: center;
    font-size: 300px;
}
.col-1 {

    background-color: rgb(203, 216, 212);
    padding: 35px;
    /* margin-left: 5%; */
    margin-right: 1%;
    text-align: center;
    font-size: 300%;
    text-decoration-color: black;
    
}to